---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/PageBanner.astro";
const archive = await Astro.glob("../archive/*.md");
---

<Layout title="Blog - Panda">
  <!-- Featured Projects Section  -->
  <section>
    <PageBanner text="Blog" />
    <h1>Blog</h1>
    <div>
      {
        archive.map((single) => (
          <div>
            {single.frontmatter.blog && (
              <a href={`/${single.frontmatter.slug}`}>
                <h3 class="text-text">{single.frontmatter.title}</h3>
                <p>{single.frontmatter.excerpt}</p>
              </a>
            )}
          </div>
        ))
      }
    </div>
  </section>
</Layout>
