---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/PageBanner.astro";
---

<Layout title="Home - Danial">
  <section class="w-full">
    <PageBanner text="Welcome!" />

    <!-- Hero section for landing page  -->
    <div
      class="max-w-max mx-auto my-20 p-6 text-center md:mt-48 text-dark dark:text-light"
    >
      <h1 class="text-3xl font-bold md:text-5xl lg:text-6xl py-3">
        <span class="text-primary">Danial</span> Daneshfar
      </h1>
      <h2
        class="text-2xl md:text-3xl lg:text-4xl pb-4 text-neutral dark:text-text"
      >
        Web Developer
      </h2>
      <!-- Project and About link  -->
      <div class="mt-16">
        <p class="pb-3 md:text-xl lg:text-2xl mb-3">
          Check out the projects I've done!
        </p>
        <a
          href="./projects"
          class="px-12 py-1.5 bg-secondary text-light dark:bg-daSe dark:text-dark dark:hover:bg-secondary hover:bg-daSe"
          >Projects</a
        >
      </div>
    </div>
  </section>
</Layout>
