---
export interface Props {
  title: string;
}

import Header from "../components/Header.jsx";
const { title } = Astro.props;
---

<html>
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Favicons  -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg-dark relative min-h-screen w-full md:flex">
      <Header client:load />
      <main class="w-full">
        <slot />
      </main>
    </div>
    <style is:global>
      html {
        font-family: "Chivo", sans-serif;
      }
    </style>
  </body>
</html>
